<template>
  <form class="filter" @submit.prevent="changeFilter">
    <input
      name="filter"
      class="filter__input"
      placeholder="Введите слово для поиска..."
      v-model="currentFilter"
    />
    <button class="filter__button" type="submit">Найти</button>
  </form>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

@Component
export default class AppFilter extends Vue {
  private currentFilter = null;

  changeFilter(): void {
    this.$store.commit('setFilter', this.currentFilter);
    this.$store.commit('setPage', 1)
  }
}
</script>

<style lang="scss" scoped>
.filter {
  margin: 20px;
  &__input {
    width: 200px;
    height: 30px;
    margin: 0 10px;
  }
  &__button {
    width: 100px;
    height: 30px;
    cursor: pointer;
  }
}
</style>
