<template functional>
  <div class="loader"></div>
</template>

<style lang="scss" scoped>
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  background-image: url('../assets/loader.svg') ;
      background-repeat: no-repeat;
    background-position: center;
}
</style>
