<template>
  <div class="pagination" v-if="pageCount > 1">
    <div class="pagination__page" @click="changePage(prevPage)">Prev</div>
    <div
      class="pagination__page"
      :class="{ pagination__page_active: activePageClass(page) }"
      v-for="page of pageCount"
      :key="page"
      @click="changePage(page)"
    >
      {{ page }}
    </div>
    <div class="pagination__page" @click="changePage(nextPage)">Next</div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { mapGetters } from "vuex";

@Component({
  computed: {
    ...mapGetters({
      currentPage: "getCurrentPage",
      pageCount: "getPageCount",
    }),
  },
})
export default class AppPagination extends Vue {
  private currentPage!: number;
  private pageCount!: number;

  get prevPage() {
    return this.currentPage;
  }

  get nextPage() {
    return this.currentPage + 2;
  }

  changePage(page: number) {
    this.$store.commit("setPage", page);
  }

  activePageClass(page: number): boolean {
    return this.currentPage === page - 1;
  }
}
</script>

<style lang="scss" scoped>
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  &__page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin: 5px;
    border: 1px solid gray;
    background-color: lightgray;
    border-radius: 4px;
    cursor: pointer;

    &_active {
      background-color: gray;
    }
  }
}
</style>
