<template>
  <div>
    <label v-for="input of inputs" :key="input.id" :for="input.id">
      {{ input.label }}
      <input
        :type="input.type"
        :name="input.name"
        :id="input.id"
        :value="input.value"
        :checked="rowsCount===input.value" 
        @input="setCount(input.value)"
      />
    </label>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { mapState, mapGetters } from "vuex";

import { InputRows } from '../interfaces'

@Component({
  computed: {
    ...mapState(["rowsCount"]),
    ...mapGetters({
      inputs: "getCountInput",
    }),
  },
})
export default class AppRowsCount extends Vue {
  private inputs!: InputRows[];

  async setCount(value: number) {
    await this.$store.commit("setRowsCount", value);
    await this.$store.dispatch("fetchUsers");
  }
}
</script>

<style lang="scss" scoped></style>
