<template>
  <div class="table">
    <div class="table__header table__row">
      <div class="table__col">
        <div
          class="table__ceil"
          :class="
            sortedClass('id') ? 'table__ceil_sorted' : 'table__ceil_unsorted'
          "
          @click="changeSort('id')"
        >
          id
        </div>
      </div>
      <div class="table__col">
        <div
          class="table__ceil"
          :class="
            sortedClass('firstName')
              ? 'table__ceil_sorted'
              : 'table__ceil_unsorted'
          "
          @click="changeSort('firstName')"
        >
          Fisrt Name
        </div>
      </div>
      <div class="table__col">
        <div
          class="table__ceil"
          :class="
            sortedClass('lastName')
              ? 'table__ceil_sorted'
              : 'table__ceil_unsorted'
          "
          @click="changeSort('lastName')"
        >
          Last Name
        </div>
      </div>
      <div class="table__col">
        <div
          class="table__ceil"
          :class="
            sortedClass('email') ? 'table__ceil_sorted' : 'table__ceil_unsorted'
          "
          @click="changeSort('email')"
        >
          Email
        </div>
      </div>
      <div class="table__col">
        <div
          class="table__ceil"
          :class="
            sortedClass('phone') ? 'table__ceil_sorted' : 'table__ceil_unsorted'
          "
          @click="changeSort('phone')"
        >
          Phone
        </div>
      </div>
    </div>
    <div
      class="table__row"
      :class="{ table__row_active: activeUserClass(user) }"
      v-for="user of paginatedUsers"
      :key="`${user.id}${user.email}`"
      @click="viewUserInfo(user)"
    >
      <div class="table__col">
        <div class="table__ceil">{{ user.id }}</div>
      </div>
      <div class="table__col">
        <div class="table__ceil">{{ user.firstName }}</div>
      </div>
      <div class="table__col">
        <div class="table__ceil">{{ user.lastName }}</div>
      </div>
      <div class="table__col">
        <div class="table__ceil">{{ user.email }}</div>
      </div>
      <div class="table__col">
        <div class="table__ceil">{{ user.phone }}</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { mapGetters, mapState } from "vuex";

import { User } from "../interfaces"

type sort = "id" | "lastName" | "firstName" | "email" | "phone";

@Component({
  computed: {
    ...mapState(["rowsOnPage"]),
    ...mapGetters({
      users: "getUsersList",
      currentUser: "getCurrentUser",
      currentPage: "getCurrentPage",
    }),
  },
})
export default class AppTable extends Vue {
  private users!: User[];
  private currentUser!: User;
  private currentSort: sort = "id";
  private rowsOnPage!: number;
  private currentPage!: number;

  viewUserInfo(user: User): void {
    this.$store.commit("setCurrentUser", user);
  }

  get sortUsers() {
    return this.users.sort((a, b) => {
      return a[this.currentSort] > b[this.currentSort] ? 1 : -1;
    });
  }

  get paginatedUsers() {
    const start = this.currentPage * this.rowsOnPage;
    const end =
      start + this.rowsOnPage < this.sortUsers.length
        ? start + this.rowsOnPage
        : this.sortUsers.length;
    return this.sortUsers.slice(start, end);
  }

  changeSort(sortType: sort): void {
    this.$store.commit("setPage", 1);
    this.currentSort = sortType;
  }

  sortedClass(sortType: sort): boolean {
    return this.currentSort === sortType;
  }

  activeUserClass(user: User): boolean {
    return this.currentUser === user;
  }
}
</script>

<style lang="scss" scoped>
.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__header {
    font-weight: bold;
    & .table__ceil {
      &_sorted:after {
        content: "▲";
      }
      &_unsorted:after {
        content: "▼";
      }
      &:hover {
        background-color: lightgray;
      }
    }
  }
  &__row {
    display: flex;
    &_active {
      background-color: lightgray;
    }
    &:hover {
      background-color: #efefef;
    }
  }
  &__ceil {
    width: 120px;
    height: 50px;
    padding: 5px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-word;
    cursor: pointer;
  }
}
</style>
