<template functional>
  <div class="user" v-if="props.user">
    <div>
      Выбран пользователь:
      <b>{{ props.user.firstName }} {{ props.user.lastName }}</b>
    </div>
    <div>Описание:</div>
    <div>{{ props.user.description }}</div>
    <div>
      Адрес проживания: <b>{{ props.user.adress.streetAddress }}</b>
    </div>
    <div>
      Город: <b>{{ props.user.adress.city }}</b>
    </div>
    <div>
      Провинция/штат: <b>{{ props.user.adress.state }}</b>
    </div>
    <div>
      Индекс: <b>{{ props.user.adress.zip }}</b>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

import { User } from "../interfaces"

@Component
export default class AppUser extends Vue {
  @Prop({ default: null, type: Object }) user!: User;
}
</script>

<style lang="scss" scoped>
.user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  & > div {
    margin: 5px 0;
    &:first-letter {
      text-transform: capitalize;
    }
  }
}
</style>
