<template>
  <div id="app">
    <app-loader v-if="loading" />

    <app-rows-count />

    <app-filter />

    <app-table />

    <app-pagination />

    <app-user :user="currentUser" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mapGetters, mapState } from "vuex";

import { User } from "./interfaces"

import {
  AppLoader,
  AppFilter,
  AppUser,
  AppTable,
  AppPagination,
  AppRowsCount,
} from "./components";

@Component({
  components: { AppLoader, AppFilter, AppUser, AppTable, AppPagination, AppRowsCount },
  computed: {
    ...mapState(["loading"]),
    ...mapGetters({
      currentUser: "getCurrentUser",
    }),
  },
})
export default class App extends Vue {
  private currentUser!: User;
  private loading!: boolean;

  async beforeMount() {
    await this.$store.dispatch("fetchUsers");
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
